@use 'base/mixins' as m;
@use 'base/variables' as v;

.categorias {
    background-color: v.$grisClaro;
    padding: 5rem 0;
    &__heading {
        @include m.heading;
        margin-bottom: 2rem;
    }
    &__grid {
        @include m.grid(1, 4rem);
        @include m.tablet {
            @include m.grid(3, 5rem);
        }
    }
}
.categoria {
    &__texto {
        color: v.$gris;
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        margin: 0;
    }
}